*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI',sans-serif;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  
  background: url("images/9jaquiz-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.container{
  width:90%;
  max-width:1200px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  background:rgba(255,255,255,0.15);

  backdrop-filter:blur(15px);
  -webkit-backdrop-filter:blur(15px);

  border:1px solid rgba(255,255,255,0.2);

  border-radius:30px;

  padding:50px;

  box-shadow:
  0 8px 32px rgba(0,0,0,0.15);
}

.left{
  flex:1;
}

.logo{
  font-size:4rem;
  font-weight:700;
  color:#2563eb;
}

.logo span{
  color:#111827;
}

.tagline{
  margin-top:15px;
  font-size:1.4rem;
  color:#374151;
}

.right{
  width:420px;
}

.login-card{
  background:rgba(255,255,255,0.25);

  backdrop-filter:blur(20px);
  -webkit-backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,0.2);

  border-radius:25px;

  padding:35px;

  box-shadow:
  0 8px 30px rgba(0,0,0,0.12);
}

.login-card h1{
  text-align:center;
  margin-bottom:10px;
  color:#111827;
}

.subtitle{
  text-align:center;
  margin-bottom:25px;
  color:#6b7280;
}

input{
  width:100%;
  padding:15px;

  border:none;

  border-radius:12px;

  margin-bottom:15px;

  background:rgba(255,255,255,0.7);

  outline:none;

  font-size:15px;
}

input:focus{
  border:2px solid #2563eb;
}

button{
  width:100%;
  padding:15px;

  border:none;

  border-radius:12px;

  cursor:pointer;

  font-size:16px;

  font-weight:600;

  transition:0.3s;
}

.login-btn{
  background:#2563eb;
  color:white;
}

.login-btn:hover{
  background:#1d4ed8;
  transform:translateY(-2px);
}

.register-btn{
  margin-top:10px;

  background:white;

  color:#2563eb;

  border:2px solid #2563eb;
}

.register-btn:hover{
  background:#2563eb;
  color:white;
}

.faq{
  margin-top:25px;
}

.faq h3{
  margin-bottom:10px;
  color:#111827;
}

.faq p{
  margin-bottom:10px;
  color:#374151;
}

@media(max-width:900px){

  .container{
    flex-direction:column;
    text-align:center;
    gap:30px;
  }

  .right{
    width:100%;
    max-width:450px;
  }

  .logo{
    font-size:3rem;
  }

}