* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  min-height: 100vh;
  background: url("./images/9jaquiz-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.quiz-card {
  width: 100%;
  max-width: 650px;
  background: rgba(255,255,255,0.22);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.35);
  border-radius: 28px;
  padding: 35px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.15);
}

.quiz-card h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #111827;
}

.timer-box {
  text-align: center;
  margin-bottom: 20px;
}

.timer-box p {
  color: #374151;
  font-weight: 600;
}

#timer {
  font-size: 42px;
  color: #111827;
}

.progress {
  width: 100%;
  height: 10px;
  background: rgba(255,255,255,0.7);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 25px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: #2563eb;
  transition: 0.3s;
}

.question-card {
  background: rgba(255,255,255,0.75);
  padding: 25px;
  border-radius: 18px;
  margin-bottom: 25px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

#questionNumber {
  color: #2563eb;
  font-weight: bold;
  margin-bottom: 8px;
}

#questionText {
  color: #111827;
  font-size: 22px;
}

.choose-text {
  font-weight: bold;
  margin-bottom: 15px;
  color: #374151;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.option {
  background: rgba(255,255,255,0.75);
  border: 2px solid transparent;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.option:hover {
  border-color: #2563eb;
}

.option.selected {
  background: #2563eb;
  color: white;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

button {
  flex: 1;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.outline-btn {
  background: rgba(255,255,255,0.75);
  border: 2px solid #2563eb;
  color: #2563eb;
}

.main-btn {
  background: #2563eb;
  border: none;
  color: white;
}

#result {
  text-align: center;
  margin-top: 20px;
  color: #111827;
}

@media(max-width: 600px) {
  .options-grid {
    grid-template-columns: 1fr;
  }

  .buttons {
    flex-direction: column;
  }
}